@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

section {
	padding: 40px 0px;
}

section#thumbnails {
	padding: 0px;
}

#bergerlebnisse, #fotoalbum, #im-sommer {
	background-size: cover;
	background-position: center bottom;
}

#bergerlebnisse {
	background-image: url(../images/intro-slide2.jpg);
}

#fotoalbum {
	background-image: url(../images/gallery-highlight.JPG);
}

#im-sommer {
	background-image: url(../images/portrait.jpg);
}

#first-text h2, #let-talk h2, #contact h2 {font-family: 'Raleway Dots'}
#contact h2 {
	text-decoration:underline;
}

#first-text {background: #a2c3c8;}
#let-talk, #contact {background: #f8688c;}

.small-block-grid-3-custom {
	 @include block-grid (
	 	$per-row: 3,
	 	$spacing: 0,
	 	$base-style: true
	 )
}

.small-block-grid-3-custom img.th {border: none;}
.small-block-grid-3-custom img.th:hover {box-shadow	: none;}

#main-header .title h1, #main-header .title h3 {color: #f8688c;} 
#main-header .title h1 {font-family: Raleway; font-weight: bold;}
#main-header .title h3 {font-family: 'Raleway Dots';}

@media #{$large-up} {
	#bergerlebnisse, #fotoalbum, #im-sommer {
		padding: 350px 0px;
	}
	#let-talk, #first-text, #contact {
		padding: 100px 0px;
	}
}

@media #{$medium-up} {
}

// BUTTONS
.weiter-btn {
}
